<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bubble_gray.iparkingapp" >

    <!-- Camara -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- Stroage (SD card) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Internet Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- DDMS -->
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />

    <!-- WIFI權限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Socket網路權限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- FOR GOOGLE MAP -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name="HttpRequest.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomePage"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Record"
            android:label="@string/title_activity_record"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Search"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".Instruction"
            android:label="@string/title_activity_instruction" >
        </activity>
        <activity
            android:name=".GoogleMap"
            android:label="@string/title_activity_google_map" >
        </activity>
        <activity
            android:name=".ParkingLotsListActivity"
            android:label="@string/title_activity_parking_lots_list" >
        </activity>

        <!-- for Google Maps-->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBfe19Od_MsOKCDpJ5Za0kqRR7xMye633o" />

        <!-- which version to use-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
